.menu-container{
    position: relative;
    display: inline-block;
    background-color:rgb(100, 100, 100);
    padding: 5px;
}

.menu-button{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-icon{
    width: 32px;
    height: 32px;
}

.user-icon:hover {
    width: 40px;
    height: 40px;
}

.menu-content{
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    padding: 5px;
}

.menu-content.show{
    display: block;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover{
    background-color: #f1f1f1;
}
.menu-icon p {
    flex:1 0 auto;
}