#root {
  width: 50vw;
  height: 20vw; 
  margin-left: 25vw;
  padding-top: 0%;
}
.model{
  height: 20vw;
  background-image: linear-gradient(0deg, #2682ce 0%, #97d9e1 100%);
  display: block;
  align-items: center;
}
.menu-icon{
  display: flex;
  justify-content: flex-end; 
  padding: 20px 0;  
  align-items: center; 
  height: 40px;
  background-color: rgb(100, 100, 100);
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.menu-icon p{
  color: white;
}